@font-face {
  font-family: "digital-7_italicitalic";
  src: url("digital-7_italic-webfont.woff2") format("woff2"),
    url("digital-7_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "digital-7_monoitalic";
  src: url("digital-7_mono_italic-webfont.woff2") format("woff2"),
    url("digital-7_mono_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "digital-7_monomono";
  src: url("digital-7_mono-webfont.woff2") format("woff2"),
    url("digital-7_mono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "digital-7regular";
  src: url("digital-7-webfont.woff2") format("woff2"),
    url("digital-7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

main {
  width: 400px;
}

.display {
  font-family: "digital-7regular", sans-serif;
  font-size: 4rem;
  width: 130px;
  text-align: center;
}

button {
  width: 100px;
  margin-top: 2rem;
}

.display-container {
  width: 400px;
  border: 2px solid gray;
  border-radius: 2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
